@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to SolidOrderProcessing!</h1>
    <p class="lead">This is a simple demo applying SOLID principles in ASP.NET Core MVC.</p>
    <hr class="my-4">
    <p>Use the navbar to place an order or view the product list.</p>
</div>